<div class="media">
  <svg xmlns="http://www.w3.org/2000/svg" class="mr-3" width="80px" height="80px" aria-label="Calendar" role="img" viewBox="0 0 512 512">
    <path d="M512 455c0 32-25 57-57 57H57c-32 0-57-25-57-57V128c0-31 25-57 57-57h398c32 0 57 26 57 57z" fill="#eee"/>
    <path d="M484 0h-47c2 4 4 9 4 14a28 28 0 1 1-53-14H124c3 4 4 9 4 14A28 28 0 1 1 75 0H28C13 0 0 13 0 28v157h512V28c0-15-13-28-28-28z" fill="#dd2f45"/>
    <g fill="#f3aab9">
      <% [470, 427, 384].product([142, 100]).each do |t| %>
        <circle cx="<%= t.first %>" cy="<%= t.last %>" r="14"/>
      <% end %>
    </g>
    <text id="month" x="32" y="164" fill="#fff" font-family="monospace" font-size="140px" style="text-anchor: start"><%= datetime.strftime('%^b') %></text>
    <text id="day" x="256" y="370" fill="#666" font-family="monospace" font-size="200px" style="text-anchor: middle"><%= datetime.strftime('%d') %></text>
    <text id="weekday" x="256" y="470" fill="#333" font-family="monospace" font-size="80px" style="text-anchor: middle"><%= datetime.strftime('%^a') %></text>
  </svg>

  <div class="media-body">
    <h5 class="mt-0"><%= datetime.strftime('%H:%M %p') %></h5>
    <%= datetime.strftime('%A') %>, <%= datetime.to_date.to_s(:long) %>
  </div>
</div>