<div class="media">
  <a href="<%= venue.map_link %>" target="_blank">
    <%= responsive_image_tag venue.image, {w: 80, h: 80}, {class: 'mr-3 rounded', style: 'width: 80px; height: 80px;', alt: venue.name} %>

  </a>
  <div class="media-body">
    <h5 class="mt-0"><%= venue.name %></h5>
    <span class="text-muted"><%= venue.area %></span>&nbsp;/&nbsp;<a href="<%= venue.map_link %>" target="_blank">map &rarr;</a>
  </div>
</div>