<%= render partial: "companies/navbar", locals: { company: @company } %>
<%= render partial: "shows/header", locals: { show: @show, nav: true } %>

<% @show.about.to_a.each do |para| %>
  <p><%= para %></p>
<% end %>
<a id="tickets"></a>
<% if @show.warning.present? %>
  <small class="d-block my-3 mx-n3 p-3 bg-gradient-light text-dark rounded">Runtime: <%= @show.runtime_display %></small>
<% end %>
<% if @show.warning.present? %>
  <small class="d-block my-3 mx-n3 p-3 bg-gradient-warning text-dark rounded"><%= @show.warning %></small>
<% end %>
<% @venue_groups.each do |venue, performances_by_venue| %>
  <div class="row bg-gradient-light py-3 my-3 rounded">
    <h5 class="col-12 mb-0"><%= venue.name %>&nbsp;<small class="text-muted"><%= venue.area %>&nbsp;/&nbsp;</small>
      <small><a href="<%= venue.map_link %>" target="_blank">map &rarr;</a></small>
    </h5>
    <% performances_by_venue.sort_by(&:showtime).group_by { |p| p.showtime.to_date }.each do |date, performances_by_date| %>
      <div class="col-12 mt-3 border-top">
        <div class="row mt-3 border-primary">
          <div class="col-12">
            <h6 class="mb-1"><%= date.strftime('%A').upcase %>&nbsp&nbsp;/&nbsp;<%= date.strftime("#{date.day.ordinalize} %B %Y") %></h6>
          </div>
          <% performances_by_date.each do |performance| %>
            <div class="col-12 col-sm-6 col-lg-4 mt-2">
              <a class="btn btn-primary text-uppercase w-100" href="<%= performance_link_path @company.slug, @show.slug, performance.venue.slug, performance.showtime.to_formatted_s(:iso8601) %>" role="button"><%= performance.showtime.strftime('%I:%M %p') %></a>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
<% end %>
<a id="cast"></a>
<div class="row no-gutters mx-n2 my-3">
  <% @show.cast.to_a.each do |member| %>
    <div class="col-12 col-md-6 px-2 mb-3">
      <h5 class="mb-0"><%= member["name"] %></h5>
      <small class="text-muted text-uppercase"><%= member["role"] || 'ACTING' %></small>
    </div>
  <% end %>
</div>
<div class="row no-gutters mx-n2 my-3">
  <% @show.crew.to_a.each do |member| %>
    <div class="col-12 col-md-6 px-2 mb-3">
      <h5 class="mb-0"><%= member["name"] %></h5>
      <small class="text-muted text-uppercase"><%= member["role"] %></small>
    </div>
  <% end %>
</div>

