<h4 class="text-right text-muted my-4"><a href="<%= company_link_path @company.slug %>"><%= @company.name %></a></h4>
<h1><a href="<%= show_link_path @company.slug, @show.slug %>"><%= @show.name %></a></h1>
<h5><%= @show.tagline %></h5>
<% @venue_groups.each do |venue, performances| %>
  <div class="media bg-light rounded p-3 my-3">
    <img src="https://source.unsplash.com/256x256/?architecture" class="mr-3 rounded" style="width: 64px;" alt="...">
    <div class="media-body">
      <h5 class="mt-0 mb-3"><%= venue.name %>&nbsp;<small class="text-muted"><%= venue.area %></small>
      </h5>
      <% performances.sort_by(&:showtime).group_by { |p| p.showtime.to_date }.each do |date, performances| %>
        <div class="row no-gutters mx-n2 my-3 mb-n2">
          <div class="col-12 px-2 my-0">
            <h6 class="mb-1 border-top pt-3"><%= date.strftime('%A').upcase %>&nbsp;/&nbsp;<%= date.strftime("#{date.day.ordinalize} %B %Y") %></h6>
          </div>
          <% performances.each do |performance| %>
            <div class="col-6 col-md-4 my-2 px-2">
              <a class="btn btn-primary text-uppercase w-100" href="<%= performance_link_path @company.slug, @show.slug, performance.venue.slug, performance.showtime.to_formatted_s(:iso8601) %>" role="button"><%= performance.showtime.strftime('%I:%M %p') %></a>
            </div>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
<% end %>

<div class="row no-gutters mx-n2">
  <figure class="col-4 col-md-2 figure px-2">
    <img src="https://source.unsplash.com/256x256/?man" class="figure-img img-fluid rounded w-100" alt="...">
    <figcaption class="figure-caption">Sandeep John</figcaption>
  </figure>
  <figure class="col-4 col-md-2 figure px-2">
    <img src="https://source.unsplash.com/256x256/?woman" class="figure-img img-fluid rounded w-100" alt="...">
    <figcaption class="figure-caption">Sangita Santosham</figcaption>
  </figure>
  <figure class="col-4 col-md-2 figure px-2">
    <img src="https://source.unsplash.com/256x256/?man+face" class="figure-img img-fluid rounded w-100" alt="...">
    <figcaption class="figure-caption">Yohan Chacko</figcaption>
  </figure>
  <figure class="col-4 col-md-2 figure px-2">
    <img src="https://source.unsplash.com/256x256/?child" class="figure-img img-fluid rounded w-100" alt="...">
    <figcaption class="figure-caption">Mina Boondhax</figcaption>
  </figure>
</div>
