<h4 class="text-right text-muted my-4"><a href="<%= company_link_path @company.slug %>"><%= @company.name %></a></h4>
<h1><a href="<%= show_link_path @company.slug, @show.slug %>"><%= @show.name %></a></h1>
<h5><%= @show.tagline %></h5>
<div class="row my-3">
  <div class="col-12 col-md-6 mb-3 mb-md-0">
    <%= render partial: "media/datetime", locals: { datetime: @performance.showtime } %>
  </div>
  <div class="col-12 col-md-6">
    <%= render partial: "media/venue", locals: { venue: @performance.venue } %>
  </div>
</div>
<%= form_tag booking_link_path do |f| %>
  <div class="my-4">
    <h6>How many tickets would you like?</h6>
    <div class="row shadow-sm no-gutters py-2 rounded bg-gradient-light">
      <div class="col-6 px-2">
        <select name="denomination_id" id="ticketcount" aria-label="Ticket count selection">
          <% @performance.denominations.sort_by(&:price).each do |denom| %>
            <option value="<%= denom.id %>">₹<%= denom.price%> - <%= denom.name%></option>
          <% end %>
        </select>
      </div>
      <div class="col-2 px-0">
        <button disabled class="btn btn-light w-100 text-center">X</button>
      </div>
      <div class="col-4 px-2">
        <select name="count" id="ticketcount" aria-label="Ticket count selection">
          <% (1..10).map do |t| %>
            <option value="<%= t %>"><%= t %></option>
          <% end %>
        </select>
      </div>
    </div>

  </div>
  <div class="row my-3">
    <div class="col-12 my-2">
      <div class="input-group">
        <div class="input-group-prepend">
          <label class="input-group-text" for="name">Name:</label>
        </div>
        <input type="text" class="form-control text-center" id="name" name="name" required/>
      </div>
    </div>
    <div class="col-12 my-2">
      <div class="input-group">
        <div class="input-group-prepend">
          <label class="input-group-text" for="email">Email Address:</label>
        </div>
        <input type="email" name="email" class="form-control text-center" required id="email"/>
      </div>
    </div>
    <div class="col-12 my-2">
      <div class="input-group">
        <div class="input-group-prepend">
          <label class="input-group-text" for="mobile">Mobile Number:</label>
        </div>
        <input type="tel" class="form-control text-center" name="mobile" maxlength="10" required id="mobile"/>
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-12">
      <button class="btn btn-success btn-lg w-100 text-uppercase" type="submit">Book Tickets</button>
    </div>
  </div>
<% end %>
<p class="text-center text-muted">
  <small>Your ticket will be sent to the email address and mobile number that you provide.
  </small>
</p>


